.App {
  text-align: center;
}

#body {
  background-color: #282c34;
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#background-video {
  position: absolute;
  top: 0;
  left: 70vh;
  width: 20%;
  height: 20%;
  object-fit: fill;
  z-index: -1;
  background: linear-gradient(135deg, #f7fafc, #e2e8f0);
  color: #2d3748;
}

#background-video1 {
  position: absolute;
  padding-top: 13%;
  left: 46vh;
  width: 50%;
  height: 20%;
  z-index: 2;
 
    color: #2d3748;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: linear-gradient(135deg, #f7fafc, #e2e8f0);
  color: #2d3748;
}